.cart-container {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  position: relative;
  min-height: 900px;
  @media (max-width: 992px) {
    margin-right: 0px;
  }
  @media (max-width: 768px) {
    margin-right: 0px;
  }
}

.cart-container-back {
  display: flex;
  padding: 14px;
  box-shadow: inset 0 -1px 0 0 rgba(29, 29, 29, 0.07);
}

.cart-container-back-text {
  margin-top: 0;
  font-family: Pusia;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 1.5px;
  color: #1d1d1d;
  margin-left: 16px;
}

.cart-container-back-button {
  height: 40px;
  width: 40px;
  background-size: 12px 12px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid rgba(29, 29, 29, 0.2);
  border-radius: 50%;
  background: transparent url(/img/icons/icon-back-arrow.svg) no-repeat 50%;
}

// главная часть
.cart-content {
  display: flex;
  @media (max-width: 992px) {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
  }
}

.cart-products-box {
  flex: 0 0 75%;
  @media (max-width: 992px) {
    flex: 0 0 100%;
  }
}

.cart-products-box-label {
  background-color: #fff;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 30px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.33;
  box-shadow: inset 0 -1px 0 0 rgba(29, 29, 29, 0.07);
  width: 100%;
  padding: 14px 16px;
  color: #1d1d1d;

  @media (max-width: 545px) {
    // margin-left: 0;
    width: auto;
  }
}

.cart-order-widget {
  border: 1px solid rgba(29, 29, 29, 0.2);
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  min-width: 400px;
  min-height: 360px;
  max-height: 370px;
  margin-left: 80px;
  margin-top: 50px;
  @media (max-width: 545px) {
    margin: 12px auto;
    min-width: 310px;
  }
}

.cart-order-widget-promocode {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  margin-top: 4px;
  position: relative;
}

.order-inner-container_input {
  position: relative;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(29, 29, 29, 0.07);
  padding-bottom: 7px;
  outline: none;
  font-family: Gotham Pro;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
}

.inner-container__promocode_enter {
  position: absolute;
  cursor: pointer;
  background: #1d1d1d;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  right: 5px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-container__promocode_enter:hover {
  background-color: red;
}

.promocode_highlight {
  height: 2px;
  width: 100%;
  background-color: lightgreen;
  transition: all 0.2s ease-in;
}

// #promocode:focus + .promocode_highlight {
//   height: 2px;
//   width: 100%;
// }

.inner-container__promocode_arrow {
  position: relative;
  height: 2px;
  width: 12px;
  display: inline-flex;
  background: #fff;
}

.inner-container__promocode_arrow:before {
  bottom: -2.5px;
  right: -3px;
  transform: rotate(-45deg);
  content: '';
  background: #fff;
  position: absolute;
  height: 2px;
  width: 8px;
}

.inner-container__promocode_arrow:after {
  top: -2.5px;
  right: -3px;
  transform: rotate(45deg);
  content: '';
  background: #fff;
  position: absolute;
  height: 2px;
  width: 8px;
}

// информация о товарах итого и т д

.cart-content-info {
  margin-top: 50px;
}

.cart-content-info-products_price_bold {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  line-height: 1.71;
  padding: 0 2%;
}

.products_price_bold {
  font-family: Pusia;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.33;
  color: rgba(0, 0, 0, 0.75);
}

.cart-content-info-products_price {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  line-height: 1.71;
  color: #1d1d1d;
  padding: 0 2%;
}

//  кнопка оформить заказ
.order-inner-container__submit-button {
  position: relative;
  text-align: center;
  cursor: pointer;
  width: 100%;
  bottom: -60px;
  border-radius: 20px;
  background-color: #e30613;
  height: auto;
  padding: 10px 50px 10px;
  text-transform: uppercase;
  font-family: Gotham Pro;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 0.4px;
  text-align: center;
  color: #fff;
  transition: transform ease 0.2s;
}

.order-inner-container__submit-button:hover {
  transform: scale(1.05);
}

// card products

.card_products {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card_product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 10px;
  margin-left: 110px;
  @media (max-width: 992px) {
    margin: 20px 10px;
  }
  @media (max-width: 545px) {
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 6px;
  }
}

.card_product-sub {
  display: flex;
  flex-basis: 30%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1600px) {
    flex-basis: 40%;
  }
  @media (max-width: 1250px) {
    flex-basis: 45%;
  }
  @media (max-width: 545px) {
    margin-bottom: 20px;
  }
}

.card_product-img {
  // width: 20%;

  @media (max-width: 1124px) {
    width: 210px;
  }
  @media (max-width: 545px) {
    width: 210px;
  }
}
.card_product-img img {
  width: 190px;
  @media (max-width: 545px) {
    width: 200px;
  }
}

.card_product-text {
  margin-left: 12px;
  max-width: 30%;
  @media (max-width: 545px) {
    width: 100px;
  }
}

.card_product-name {
  font-size: 16px;
  line-height: 1.2;
  font-family: Pusia;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.75);
}
.card_product-info {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.76);
}

.card_product-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 545px) {
    font-size: 1.2rem;
    padding-left: 20px;
  }
}

.card_product-price {
  font-family: Pusia;
  font-weight: 700;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.75);
  white-space: nowrap;
  padding-left: 5px;
}

.card_product-trash {
  background: transparent url('/img/icons/icon-delete.svg') no-repeat 50%;
  background-size: contain;
  cursor: pointer;
  width: 21px;
  height: 23px;
  margin-left: 10px;
  @media (max-width: 992px) {
    width: 47px;
    height: 30px;
  }
  @media (max-width: 545px) {
    width: 36px;
    height: 40px;
    margin-left: 16px;
  }
}

// no products

.card_noproducts {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.card_noproducts-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 700px;
  height: 400px;
}

.card__placeholder__section {
  font-size: 1rem;
  margin-bottom: 36px;
  text-align: center;
  font-family: Gotham Pro;
  font-weight: 500;
  white-space: nowrap;
  color: rgba(29, 29, 29, 0.38);
}

.card_noproducts-button {
  padding: 10px 18px;
  outline: none;
  background-color: #e30613;
  color: #fff;
  border: none;
  height: 40px;
  text-align: center;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: normal;
  border-radius: 20px;
  transition: 0.3s transform ease-out;
}

.card_noproducts-button:hover {
  transform: scale(1.08);
}
