@font-face {
  font-family: 'Gotham Pro';
  font-display: swap;
  src: url("../fonts/GothamPro/GothamPro-Italic.eot");
  src: local("Gotham Pro Italic"), local("GothamPro-Italic"), url("../fonts/GothamPro/GothamPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Italic.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  font-display: swap;
  src: url("../fonts/GothamPro/GothamPro-Medium.eot");
  src: local("Gotham Pro Medium"), local("GothamPro-Medium"), url("../fonts/GothamPro/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  font-display: swap;
  src: url("../fonts/GothamPro/GothamPro-Bold.eot");
  src: local("Gotham Pro Bold"), local("GothamPro-Bold"), url("../fonts/GothamPro/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  font-display: swap;
  src: url("../fonts/GothamPro/GothamPro-LightItalic.eot");
  src: local("Gotham Pro Light Italic"), local("GothamPro-LightItalic"), url("../fonts/GothamPro/GothamPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-LightItalic.woff") format("woff"), url("../fonts/GothamPro/GothamPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  font-display: swap;
  src: url("../fonts/GothamPro/GothamPro-Light.eot");
  src: local("Gotham Pro Light"), local("GothamPro-Light"), url("../fonts/GothamPro/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  font-display: swap;
  src: url("../fonts/GothamPro/GothamPro.eot");
  src: local("Gotham Pro"), local("GothamPro"), url("../fonts/GothamPro/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro.woff") format("woff"), url("../fonts/GothamPro/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pusia';
  font-display: swap;
  src: url("../fonts/Pusia/subset-Pusia-Medium.eot");
  src: local("Pusia Medium"), local("Pusia-Medium"), url("../fonts/Pusia/subset-Pusia-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Pusia/subset-Pusia-Medium.woff") format("woff"), url("../fonts/Pusia/subset-Pusia-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pusia';
  font-display: swap;
  src: url("../fonts/Pusia/subset-Pusia-DemiBold.eot");
  src: local("Pusia DemiBold"), local("Pusia-DemiBold"), url("../fonts/Pusia/subset-Pusia-DemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Pusia/subset-Pusia-DemiBold.woff") format("woff"), url("../fonts/Pusia/subset-Pusia-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pusia';
  font-display: swap;
  src: url("../fonts/Pusia/subset-Pusia-Light.eot");
  src: local("Pusia Light"), local("Pusia-Light"), url("../fonts/Pusia/subset-Pusia-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Pusia/subset-Pusia-Light.woff") format("woff"), url("../fonts/Pusia/subset-Pusia-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Pusia';
  font-display: swap;
  src: url("../fonts/Pusia/subset-Pusia-Bold.eot");
  src: local("Pusia Bold"), local("Pusia-Bold"), url("../fonts/Pusia/subset-Pusia-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Pusia/subset-Pusia-Bold.woff") format("woff"), url("../fonts/Pusia/subset-Pusia-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Pusia';
  font-display: swap;
  src: url("../fonts/Pusia/subset-Pusia-Regular.eot");
  src: local("Pusia Regular"), local("Pusia-Regular"), url("../fonts/Pusia/subset-Pusia-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Pusia/subset-Pusia-Regular.woff") format("woff"), url("../fonts/Pusia/subset-Pusia-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pusia';
  font-display: swap;
  src: url("../fonts/Pusia/subset-Pusia-MediumItalic.eot");
  src: local("Pusia Medium Italic"), local("Pusia-MediumItalic"), url("../fonts/Pusia/subset-Pusia-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Pusia/subset-Pusia-MediumItalic.woff") format("woff"), url("../fonts/Pusia/subset-Pusia-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
/*# sourceMappingURL=_fonts.css.map */