* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: 'Gotham Pro', 'Roboto';
  box-sizing: border-box;
}

/*
 
 :::    ::: ::::::::::     :::     :::::::::  :::::::::: :::::::::  
 :+:    :+: :+:          :+: :+:   :+:    :+: :+:        :+:    :+: 
 +:+    +:+ +:+         +:+   +:+  +:+    +:+ +:+        +:+    +:+ 
 +#++:++#++ +#++:++#   +#++:++#++: +#+    +:+ +#++:++#   +#++:++#:  
 +#+    +#+ +#+        +#+     +#+ +#+    +#+ +#+        +#+    +#+ 
 #+#    #+# #+#        #+#     #+# #+#    #+# #+#        #+#    #+# 
 ###    ### ########## ###     ### #########  ########## ###    ### 
 
*/

/*
  ___  ___  _______   ________  ________  _______   ________          ________   ________  ___      ___ 
 |\  \|\  \|\  ___ \ |\   __  \|\   ___ \|\  ___ \ |\   __  \        |\   ___  \|\   __  \|\  \    /  /|
 \ \  \\\  \ \   __/|\ \  \|\  \ \  \_|\ \ \   __/|\ \  \|\  \       \ \  \\ \  \ \  \|\  \ \  \  /  / /
  \ \   __  \ \  \_|/_\ \   __  \ \  \ \\ \ \  \_|/_\ \   _  _\       \ \  \\ \  \ \   __  \ \  \/  / / 
   \ \  \ \  \ \  \_|\ \ \  \ \  \ \  \_\\ \ \  \_|\ \ \  \\  \|       \ \  \\ \  \ \  \ \  \ \    / /  
    \ \__\ \__\ \_______\ \__\ \__\ \_______\ \_______\ \__\\ _\        \ \__\\ \__\ \__\ \__\ \__/ /   
     \|__|\|__|\|_______|\|__|\|__|\|_______|\|_______|\|__|\|__|        \|__| \|__|\|__|\|__|\|__|/    
                                                                                                        
*/

header {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
}

header a {
  display: block;
  color: #000000;
}

.header-logo {
  font-size: 0;
}

// header .menu {
// }

header .menu ul {
  display: flex;
  flex-direction: row;
}

header .menu ul a {
  padding: 10px;
  white-space: nowrap;
  transition: transform 0.4s ease;
}
header .menu ul a:hover {
  color: #e30613;
}
header .menu ul a:active {
  color: #e30613;
  transform: scale(1.2);
}

.header-city_and_phone a {
  display: flex;
  align-items: center;
}

.header-city_and_phone a img {
  margin-left: 6px;
}

// .menu button {
//   color: #e30613;
//   transition: transform 0.4s ease;
// }

// .menu button:active {
//   color: #e30613;
//   transform: scale(2);
// }

// header .menu ul a:focus {
//   // color: rgb(255, 144, 144);
//   color: #e30613;
//   transform: scale(1.6);
// }
// header .menu ul a:visited {
//   color: rgba(255, 144, 144, 0.315);
// }

.box {
  height: 1800px;
}

/*
 
  ________ ________  ________  _________  _______   ________     
 |\  _____\\   __  \|\   __  \|\___   ___\\  ___ \ |\   __  \    
 \ \  \__/\ \  \|\  \ \  \|\  \|___ \  \_\ \   __/|\ \  \|\  \   
  \ \   __\\ \  \\\  \ \  \\\  \   \ \  \ \ \  \_|/_\ \   _  _\  
   \ \  \_| \ \  \\\  \ \  \\\  \   \ \  \ \ \  \_|\ \ \  \\  \| 
    \ \__\   \ \_______\ \_______\   \ \__\ \ \_______\ \__\\ _\ 
     \|__|    \|_______|\|_______|    \|__|  \|_______|\|__|\|__|
                                                                 
*/

footer {
  padding: 1em;
  position: relative;
  bottom: calc(-88vh + 90px);
}
