@import "../../public/css/style";

.footer {
  padding-top: 24px;
  color: hsla(0, 0%, 100%, 0.7);
  background-color: #1d1d1d;
  font-family: Gotham Pro, serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.71;
}

.footer a {
  display: block;
  color: hsla(0, 0%, 100%, 0.7);
}

.footer a:hover {
  color: #fff;
  text-decoration: none;
}

.footer-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-col {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
  padding-right: 15px;
  padding-left: 15px;
}

.footer__bold {
  color: #fff;
  margin-bottom: 12px;
}

.footer__inn {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.footer__phone {
  position: relative;
  font-size: 16px;
  line-height: 1;
  color: #fff;
}

.footer__quiz {
  background-color: #eb673d;
  padding: 22px 16px;
  height: 240px;
  color: white;
}

a.footer__quiz-link {
  text-decoration: underline;
  font-size: 1rem;
  color: white;
  margin-top: 14px;
}

.footer__quiz-text-bot {
  font-size: 1rem;
  margin-top: 14px;
}

.footer__quiz-text {
  font-size: 20px;
}

.footer__socials {
}

.footer__apps {
  height: 28px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer__apps__badge {
  margin-right: 10px;
  display: inline-block;
  height: 28px;
  width: 90px;
  background: transparent no-repeat 50%;
  background-size: contain;
}

.app-store {
  background-image: url('/img/appstore.png');
}

.viber {
  background-image: url('/img/viber.svg');
}

.telegram {
  background-image: url('/img/telegram.svg');
}

.google-play {
  background-image: url('/img/google-play.png');
}

.footer__socials__icon {
  margin-right: 8px;
  height: 28px;
  width: 28px;
  background: transparent no-repeat 50%;
  background-size: contain;
}

.fb {
  background-image: url('/img/icons/icon-fb.svg');
}

.vk {
  background-image: url('/img/icons/icon-vk.svg');
}

.ok {
  background-image: url('/img/icons/icon-ok.svg');
}

.ig {
  background-image: url('/img/icons/icon-ig.svg');
}

.yandex-dzen {
  background-image: url('/img/yandex_dzen.png');
}

@include max-width(md) {
  .footer {
    display: none;
  }
}

@include max-width(xlg) {
  .footer-box {
    flex-wrap: wrap;
  }
  .footer-col {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 24px;
  }
}

