.input-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  background: none;
  color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(29, 29, 29, 0.07);
  &__input {
    width: 100%;
    padding: 10px 10px 10px 5px;
    font: 400 18px Arial;
    color: rgba(0,0,0,.75);
    &-label {
      color: rgba(0,0,0, 0.3);
      font-size: 13px;
      font-family: serif;
    }
  }
  &__save-button {
    color: #e30613;
    cursor: pointer;
    font-size: 14px;
    &_hidden{
      display: none;
    }
  }
}
