.link {
  cursor: pointer;
  padding: 16px 24px;
  font-family: Gotham Pro, serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000;
}