$placeholder-base: rgba(217, 217, 217, 0.8);
$placeholder-highlight: lighten($placeholder-base, 7%);

.sticky-header {
  display: flex;
  align-items: center;
  height: 48px;
  width: 100vw;
  top: 56px;
  box-shadow: inset 0 -1px 0 0 rgba(29, 29, 29, 0.07);
  padding-left: 16px;
  padding-right: 16px;
  background-color: #ffffff;
  overflow-y: hidden;
  white-space: nowrap;
}

.sticky-header__categories__item {
  padding-left: 24px;
  cursor: pointer;
  display: inline-block;
  margin-right: 24px;
  font-family: Gotham Pro;
  position: relative;
  height: 100%;
  padding-top: 14px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: normal;
  color: #1d1d1d;

  a {
    color: #1d1d1d;
    text-decoration: none;
  }

  &-monopizza {
    padding-left: 36px;
    // margin-left: 36px;
    position: relative;
    &:before {
      position: absolute;
      content: '';
      background-image: url('/img/icons/ic-monopizza.png');
      width: 25px;
      height: 25px;
      bottom: -5px;
      left: 0px;
    }
  }
  &.selected {
    position: relative;

    a {
      color: #e30613;
    }
  }

  &__sub-menu {
    display: none;
  }
}

.sticky-header__categories__placeholder {
  cursor: default;
  position: relative;
  background: $placeholder-base;
  overflow: hidden;
  border-radius: 26px;
  height: 18px;
  margin-bottom: 5px;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      $placeholder-base,
      $placeholder-highlight,
      $placeholder-base
    );
    animation: progress 1s ease-in-out infinite;
  }
}

// animations

@keyframes progress {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
