.products {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.products a {
  color: inherit;
}

.product {
  margin: 8px;
  max-width: 454px;
  max-height: 410px;
  position: relative;
}

.product img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  object-fit: 'cover';
}

.product-name {
  margin: 10px 6px;
  color: rgba(0, 0, 0, 0.75);
  font-size: 20px;
  line-height: 1.2;
  margin-top: 16px;
  font-family: Pusia;
  font-weight: 600;
  font-style: normal;
}
.product-name:hover {
  text-decoration: underline;
}

.product-description {
  padding: 4px;
  margin-top: 6px;
  padding-right: 6px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 400;
  color: rgba(29, 29, 29, 0.54);
  user-select: text;
  display: flex;
  justify-content: space-between;
}

.product-weight {
  white-space: nowrap;
  margin-left: 20px;
}

.product-bottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.product-prices {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.price-prev {
  color: rgb(227, 6, 19);
  font-size: 16px;
  font-weight: 500;
  text-decoration: line-through;
}

.price-current {
  padding: 4px;
  color: #000;
  font-size: 32px;
  line-height: 0.75;
  font-weight: 500;
}

.product-bottom_right {
  display: flex;
}

.product-bottom_right-info {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  margin-right: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  cursor: pointer;
  background-color: #e30613;
}

.product-bottom_right-info img {
  height: 28px;
  vertical-align: middle;
  border-style: none;
  object-fit: unset;
}

.product-bottom_right-buy {
  height: 48px;
  border-radius: 48px;
  width: 108px;
  cursor: pointer;
  transition: transform 0.2s ease-in;
  overflow: hidden;
}

.product-bottom_right-buy:hover {
  transform: scale(1.1);
}

.product-bottom_right-buy-collapsed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: inherit;
  background-color: #e30613;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  padding: 12px;
}

.product-bottom_right-buy-collapsed img {
  width: 24px;
  height: 24px;
  margin-top: -4px;
  margin-left: 4px;
}

// cart button

.cart-button {
  height: 48px;
  border-radius: 48px;
  width: 108px;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}
.cart-button:hover {
  transform: scale(1.1);
}
.cart-button-border {
  border: 1px solid rgba(29, 29, 29, 0.2);
}

.cart-button__expanded {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-button__expanded__minus {
  display: inline-block;
  height: 24px;
  width: 24px;
  background: transparent url(/img/icons/icon-minus.svg) no-repeat 50%;
  background-size: contain;
}

.cart-button__expanded__plus {
  display: inline-block;
  height: 24px;
  width: 24px;
  background: transparent url(/img/icons/icon-plus.svg) no-repeat 50%;
  background-size: contain;
}

.cart-button__expanded__count {
  padding-top: 2px;
  text-align: center;
  flex-grow: 2;
  font-family: Gotham Pro;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #1d1d1d;
}

// product-info
.product-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 29, 29, 0.9);
  z-index: 2;
  padding: 24px;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
}

.product-info-block-nutrients {
  margin-top: 2rem;
  margin-bottom: 0.8rem;
  font-weight: bold;
}

.product-info__close {
  display: block;
  position: absolute;
  content: '';
  background-image: url(/img/icons/ic-close-white.svg);
  width: 24px;
  height: 24px;
  right: 5px;
  top: 2px;
  cursor: pointer;
}

.product-info-display {
  display: none;
}

//  BANNERS

@media (max-width: 1330px) {
  .banners {
    flex-wrap: wrap;
  }
  .banner {
    max-width: 100%;
  }
  .products {
    flex-wrap: wrap;
  }

  // .banners__swiper-container,
  // .banners__swiper-container img {
  //   width: 50%;
  // }
}
