.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.city_modal {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  //   transition: transform 0.3s ease-out; //TODO: later to add
}

.city_modal-center_container {
  margin: 15% auto;
  max-height: 600px;
  position: absolute;
  z-index: 4;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.m_m-box {
  margin-top: 10%;
  border-radius: 8px;
  width: 1150px;
  max-height: 600px;
  overflow: hidden;
  background-color: #fff;
}

.m_m-header {
  display: flex;
  flex-direction: column;
  > h1 {
    font-family: 'Pusia';
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    font-size: 2.3rem;
  }

  > p {
    font-size: 20px;
    color: rgba(29, 29, 29, 0.9);
    text-align: center;
    margin: 24px 0px 0px;
  }
}

.m_m-header-search_field {
  margin: 40px;
}

.m_m-header-search_field input {
  font-size: 1.4rem;
  border-bottom: 1px solid lightgray;
  width: 100%;
  padding: 1.4rem;
}

.city_name-highlight {
  height: 0px;
  width: 0px;
  background-color: black;
  transition: all 0.2s ease-in;
}

#city_name:focus + .city_name-highlight {
  height: 2px;
  width: 100%;
}

.m_m-body_box {
  max-height: 200px;
}

.m_m-body {
  max-height: 200px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.m_m-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.m_m-body::-webkit-scrollbar {
  width: 18px;
  background-color: #f5f5f5;
}

.m_m-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e30613;
}

.m_m-body button {
  background: transparent;
  font-size: 1.4rem;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 8px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid rgba(29, 29, 29, 0.07);
}
.city_modal-city_button:hover {
  color: #e30613;
}

.m_m-footer button {
  box-sizing: border-box;
  width: 95%;
  margin-bottom: 8px;
  margin-left: 18px;
  margin-right: 18px;
  border-radius: 28px;
  height: auto;
  padding-top: 16px;
  padding-bottom: 12px;
  background-color: #e30613;
  color: #fff;
  border: none;
  text-align: center;
  cursor: pointer;
  font-family: Gotham Pro;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  text-transform: capitalize;
}

.m_m-footer-continue_button {
  margin-top: 2rem;
}

.m_m-footer_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.m_m-footer_box > div {
  transition: transform 0.3s ease;
}

.address_input {
  display: flex;
  margin: 40px auto;
  font-size: 24px;
  text-align: center;
  border: 1px solid lightgray;
  padding: 8px;
  min-width: 600px;
  max-width: 600px;
  border-radius: 8px;
}

.m_m-short button {
  width: 450px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Gotham Pro';
  font-weight: 500;
  cursor: pointer;
}

.m_m-trans_button > button {
  height: 56px;
  align-items: center;
  text-transform: uppercase;
  color: rgb(227, 6, 19);
  background: transparent;
  border-radius: 28px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(227, 6, 19);
  border-image: initial;
}

.m_m-footer_box > div:hover {
  transform: scale(1.08);
}

.m_m-prompt {
  padding-top: 16px;
  padding-bottom: 30px;
  color: rgba(29, 29, 29, 0.54);
  text-align: center;
  font-size: 16px;
}

.m_m-prompt img {
  vertical-align: middle;
}

// address delivery and pickup

.m_m-pickup-form {
  overflow-y: auto;
}

.m_m-pickup {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  margin-top: 10px;
  max-height: 300px;
  max-width: 900px;
  overflow-y: scroll;
  box-shadow: 0px 0px 2px 2px rgba(173, 173, 173, 0.45);
  border-radius: 4px;
}

.m_m-pickup-item {
  padding: 25px;
  width: 360px;
  cursor: pointer;
}

input:checked + .m_m-pickup-item {
  border-radius: 6px;
  box-shadow: 0px 0px 2px 2px rgba(173, 173, 173, 0.45);
}

.m_m-pickup input {
  display: none;
}

.time_range {
  display: block;

  margin-top: 12px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.54);
}

.m_m-delivery-prompts {
  // border: 1px solid black;
  margin: 0 auto;
  padding: 0 6px;
  margin-top: -40px;
  width: 600px;
  max-height: 200px;
  overflow-y: scroll;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.34);
}

.m_m-delivery-prompt {
  cursor: pointer;
}

.m_m-delivery-prompt:hover {
  background-color: rgb(223, 223, 223);
}

// login modal

.login_modal-box {
  width: 500px;
  box-shadow: 0px 0px 6px 2px white;
}

.login_modal-widgets {
  display: flex;
  justify-content: space-around;
  margin-top: 56px;
}
.login_modal-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login_modal-widget p {
  max-width: 140px;
  font-size: 14px;
  margin-top: 20px;
}

// input_group

.input_group {
  padding: 10px 10px 10px 5px;
  margin: 20px;
}

#phone_input {
  background: none;
  color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  width: 100%;
  display: block;
  border-radius: 0;
  border: none;
  // transition: all 1s ease-in;
}
// #phone_input:focus {
//   border-bottom: 1px solid rgba(29, 29, 29, 0.7);
// }

.phone_highlight {
  height: 0px;
  width: 0px;
  background-color: black;
  transition: all 0.2s ease-in;
}

#phone_input:focus + .phone_highlight,
#code_input:focus + .phone_highlight {
  height: 2px;
  width: 100%;
}

.input_group label {
  font-size: 12px;
  font-weight: 400;
  color: rgba(29, 29, 29, 0.38);
  margin-bottom: 0.5rem;
}

.m_m-submit_code_btn {
  font-weight: 400;
  cursor: pointer;
  color: #212529;
  border-bottom: 1px dashed #212529;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 14px;
}

#code_input {
  background: none;
  color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  width: 100%;
  display: block;
  border-radius: 0;
  border: none;
}
