.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.city_modal {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1050;
  //   transition: transform 0.3s ease-out; //TODO: later to add
}

.city_modal-center_container {
  margin: 15% auto;

  display: flex;
  justify-content: center;
}

.m_m-box {
  width: 1150px;
  max-height: 70%;
  background-color: #fff;
}
