.personal-page {
  display: flex;
  padding: 34px 80px;
  &__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 144px;
    height: 144px;
    border-radius: 50%;
    background-color: #ddd;
    background-position: 50%;
    background-size: cover;
    &-placeholder {
      width: 56px;
      height: 56px;
    }
    &-container {
      display: flex;
      flex-direction: column;
      text-align: center;
      flex-grow: 0;
    }
  }
  &__change-photo {
    margin-top: 10px;
    color: #e30613;
    cursor: pointer;
    &_hidden {
      display: none;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: available;
    flex-grow: 1;
    margin: 0 36px;
  }
  &__text {
    margin: 24px 0;
    flex-grow: 0;

    font-family: Gotham Pro, serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.8);
    &::before {
      position: relative;
      top: 20px;
      //noinspection CssUnknownTarget
      content: url('/img/icons/giftbox-outline.svg');
      margin-right: 24px;
    }
  }
}
