.personal-page{
  padding: 34px 58px;
  &__avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 144px;
    height: 144px;
    border-radius: 50%;
    background-color: #ddd;
    background-position: 50%;
    background-size: cover;
    &-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 144px;
      text-align: center;
    }
  }
  &__change-photo{
    margin-top: 10px;
    color: #e30613;
    cursor: pointer;
    &_hidden {
      display: none;
    }
  }
}