.route-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.route-banner {
  display: flex;
  max-width: 50%;
}

.route-banner-pic {
  width: 100%;
}
